</br>   
</br>
<div class="container" style="text-align:center;">
  <div class="booyah-box">
    <h2>Survey</h2>
    </br>

    <%= link_to 'Employer Sign Up', 'https://mansoorsayed.typeform.com/to/Jg8KHy', class: 'btn btn-primary btn-lg btn-block' %>
    </br>
    </br>
    </br>
    <%= link_to 'Staff Sign Up', 'https://mansoorsayed.typeform.com/to/I8CXvd', class: 'btn btn-warning btn-lg btn-block' %>
  </div>
</div>

