<div class="">
  <img class="hero-image" src="/assets/bg.jpg" alt="" >
  <div class="hero-text">
    <h1>GAL GADOT</h1>
    <h2>Actress & Model</h2>
  </div>
</div>
<div class="overlay">
  <img class="hero-image" src="/assets/bg2.jpg" alt="" >
</div>
