<br/>
<br/>
<% flash.each do |name, message| %>
  <div class="alert <%= bootstrap_class_for(name) %> alert-dismissible fade show" role="alert">
    <strong><%= bootstrap_string_for(name) %></strong> <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%# <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> %>
